.nav__header{
    padding: .8rem;
    background-color: rgb(76, 76, 214);
}
.container-nav__header{
    display: flex;
    justify-content: space-between;
}
.logo-container__header{
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1;
}
.li__header a{
 display: flex;
 gap: .3rem;
}
.logo__header{
    color: orange;
    font-size: 1.8rem;
}

.subnav__header{
    display: flex;
    gap: 1.5rem;
}
.container-nav__header li a{
    color:white;
    font-size: 1.4rem;
}

@media (max-width:700px){
    .menu__header{
        display: none;
        font-size: .8rem;
    }
    .container-nav__header li a .menu__header{
        color:white;
        font-size: 1rem;
    }
}