.purchases{
    margin: 2rem;
}
.title__purchase{
   font-size: 1.3rem;
   margin-bottom: 16px;
}
.name__purchase{
    font-size: 0.9rem;
}
.purchases-container{
    background-color: rgb(241, 222, 222);
    padding: 1rem;
    border-radius: 1rem;
}
.product__purchase{
    margin:6px  8px;
    display: flex;
    justify-content: space-between;
}
.quantity__purchase{
    padding: 0 1rem;
    border: 1px solid gray;
    margin-right: 1rem;
}
.quantity{
    width: 100px;
    padding-left: 1rem; 
    width: 90px;
}